    #body {
        font-family: 'Prompt', sans-serif;
        background-color: #fdb9b9;
    }

    nav {
        background: rgb(122, 45, 45);
        color: #fff;
    }

    .wrapper {
        display: flex;
        margin-top: 40px;
        padding: 20px;
    }

    #header {
        background: rgb(75, 75, 75);
        /* height: 100px; */
        color: #fff;
    }

    .text-header {
        margin-top: 60px;
    }

    .underlineHover:after {
        display: block;
        left: 50%;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: white;
        content: "";
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }

    .underlineHover:hover {
        color: white;
    }

    .underlineHover:hover:after {
        width: 100%;
    }

    #btn_menu {
        background-color: #af1919;
        height: 170px;
        border-radius: 20px;
        font-weight: 20px;
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.596);
        margin-top: 50px;
    }

    #index_menu {
        margin-top: -20px;
    }

    #btn_menu:hover {
        background-color: #36b163;
    }