    * {
        font-family: 'Prompt', sans-serif;
    }
    
    #body {
        font-family: 'Prompt', sans-serif;
    }
    
    nav {
        background: rgb(122, 45, 45);
        color: #fff;
    }
    
    .wrapper {
        display: flex;
        margin-top: 40px;
        padding: 20px;
    }
    
    #header {
        background: transparent;
        color: #941e1e;
        max-height: 100px;
    }
    
    .text-header {
        margin-top: 40px;
    }
    
    .underlineHover:after {
        display: block;
        left: 50%;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: white;
        content: "";
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }
    
    .underlineHover:hover {
        color: white;
    }
    
    .underlineHover:hover:after {
        width: 100%;
    }
    
    #index_menu {
        margin-top: -20px;
    }
    
    #btn_menu:hover {
        background-color: #36b163;
    }
    
    #choice {
        height: 140px;
        margin-top: 30px;
        background-color: #941e1e;
        color: #fff;
    }
    
    #submit-pretest {
        align-items: center;
        margin-top: 50px;
        padding: 10px 30px;
    }
    
    #nav-body a {
        color: black;
    }
    
    #content_lesson {
        margin-top: 20px;
    }
    
    #card_lesson {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #list_lesson {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 500px;
        overflow-y: scroll;
    }
    
    #img-lesson {
        max-width: 100%;
        height: auto;
        align-items: center;
    }
    
    #lesson-btn {
        background: rgb(94, 177, 255);
    }
    
    #lesson-btn img {
        width: 25px;
    }
    
    #lesson-btn :hover {
        /* width: 1200px; */
        color: #fff;
    }
    
    #info {
        box-shadow: 0 20px 30px 0 rgba(100, 100, 100, 0.589);
    }